body{
    background: #2C2B3D;
    font-family: 'JetBrains Mono', monospace;
    width: 1100px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 70px auto 105px;
}

ul {
    display: flex;
    list-style: none;
    gap: 55px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover{
    color: #c7b4b4;
}

main {
    margin: auto;
    display: flex;
    gap: 82px;
    /* justify-content: space-between; */
}

main h1 {
    color: #fff;
    font-weight: 700;
    line-height: 40px; 
    text-align: center;
    margin-bottom: 59px;

}

main h1 span, #subtitle p span {
    color: #00BFA6;
}

main p {
    color: #fff;
    text-align: center;
    color: #C2C2C2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#bar {
    margin: 170px auto 27px;
    width: 568.001px;
    height: 1px;
    background: #00BFA6;
}

footer p {
    color: #FFF;
    text-align: center;
}